// Nav Layout
// ==========


[data-layout='nav'] {
  padding-bottom: size('gutter');
  text-align: center;
}


[data-nav] {
  display: inline-block;
  font-size: size('boiler');
  font-style: italic;
  padding: size('quarter-shim') size('shim');

  & + & {
    margin-left: size('h1');
  }
}


@each $item in $nav {
  [data-location='#{$item}'] {
    [data-nav='#{$item}'] {
      color: color('text');
      text-decoration: underline;
    }
  }
}
