// Color Configuration
// ===================


// Brand Colors
// ------------
/// The brand is defined by our primary brand blue,
/// along with secondary pink and orange base colors.
/// @group color
/// @preview color-palette
/// @type Map
$brand-colors: (
  'brand-blue': hsl(195, 52%, 31%),
  'brand-orange': hsl(24, 100%, 62%),
  'brand-pink': hsl(330, 100%, 45%),
);

@include add-colors($brand-colors);
@include herman-add('colors', 'brand-colors', $brand-colors, 'color');


// Contrast Colors
// ---------------
/// The light and dark contrast colors act as
/// the high and low range of our palette.
/// @group color
/// @preview color-palette
/// @type Map
/// @link http://oddbird.net/accoutrement-color/docs/
///   Accoutrement Colors
$contrast-colors: (
  'contrast-light': #efefef,
  'contrast-dark': 'brand-blue' ('shade': 40%),
);

@include add-colors($contrast-colors);
@include herman-add('colors', 'contrast-colors', $contrast-colors, 'color');


// Pattern Colors
// --------------
/// Re-usable color patterns for application in different components.
/// @group color
/// @preview color-palette
/// @type Map
$pattern-colors: (
  'text': 'contrast-dark',
  'background': 'contrast-light',
  'overlay': 'background' ('rgba': 0.96),
  'border': 'brand-blue' ('tint': 65%),

  'action': 'brand-pink' ('shade': 25%),
  'action-hover': 'brand-blue',

  'field-chill': 'brand-blue',
  'field-attention': 'action',

  'page-title': 'action-hover',
  'callout': 'brand-blue' ('tint': 80%, 'rgba': 0.6),
);

@include add-colors($pattern-colors);
@include herman-add('colors', 'pattern-colors', $pattern-colors, 'color');
