// Type
// ====


@mixin feature-type {
  font-size: size('feature');
  font-style: italic;

  em,
  i {
    font-style: normal;
  }
}


@mixin amp {
  @include font-family('amp');
  font-style: italic;
  font-weight: normal;
}
