// Posts
// =====


[data-list],
.rst-body {
  margin: size('spacer') auto;
  max-width: size('page');
}


.post {
  &:not(:last-child) {
    @include divider;
  }
}


[data-heading='post'] {
  font-size: size('h2');

  a {
    &:link,
    &:visited {
      text-decoration: none;
    }
  }
}


.post-meta,
.rst-meta {
  font-size: size('boiler');
  margin-bottom: size('half-shim');
}


.rst-meta {
  margin: 0 auto;
  max-width: size('page');
}


[pubdate] {
  @include font-family('alt');
  font-weight: bold;
}
