// Posts
// =====


// List Style
// ----------

[data-list],
.rst-body {
  margin: size('spacer') auto;
  max-width: size('page');
}


.post {
  &:not(:last-child) {
    @include divider;
  }
}


[data-heading='post'] {
  font-size: size('h2');

  a {
    &:link,
    &:visited {
      text-decoration: none;
    }
  }
}


.post-meta,
.rst-meta {
  font-size: size('boiler');
  margin-bottom: size('half-shim');
}


[pubdate] {
  @include font-family('alt');
  font-weight: bold;
}


// Details
// -------

.hero {
  border: size('quarter-shim') solid color('border');
  border-radius: $corners;
  margin: 0 auto;
  max-width: size('page') + size('double-gutter');
  overflow: hidden;
  transition: transform 300ms ease;
}

.rst-head {
  margin: 0 auto;
  max-width: size('page');
}
