// Typography
// ==========


// Headings
// --------

[data-heading='rst'] {
  font-size: size('h1');
  margin: size('gutter') auto 0;
  max-width: size('page');
}


.rst-body {
  h2 {
    @include divider('before');
    font-size: size('h2');
    font-weight: bold;
    margin: size('gutter') 0 size('shim');
  }


  h3 {
    font-weight: bold;
    margin: size('gutter') 0 size('shim');
  }
}


// Quotes
// ------

blockquote,
.pullquote {
  font-style: italic;
  margin-bottom: size('shim');

  .attribution {
    @include wrap-content(null);
    font-style: normal;
    font-weight: bold;
  }
}


blockquote {
  p,
  &.epigraph {
    &:not(.attribution) {
      text-indent: -0.75em;

      @include wrap-content {
        color: color('action');
        font-weight: bold;
      }
    }
  }
}


// Sections
// --------

hr {
  @include divider;
}


pre {
  $pull: negative('shim' ('plus': 'quarter-shim''));
  border-left: size('quarter-shim') solid color('border');
  font-size: size('code');
  margin: size('gutter') 0 size('gutter') $pull;
  padding: 0 size('shim');
}


// Figures
// -------

figure,
.figure {
  display: block;
  margin: size('gutter') 0;
  max-width: 100vw;
}


.full {
  margin-left: negative('gutter');
  margin-right: negative('gutter');
}


@include above('image-float') {
  .left {
    float: left;
    margin-left: negative('gutter');
    margin-right: size('gutter');
    max-width: 45%;
  }


  .right {
    float: right;
    margin-left: size('gutter');
    margin-right: negative('gutter');
    max-width: 45%;
  }
}


iframe {
  box-shadow: 0 0 size('quarter-shim') color('shadow');
}


figcaption,
.caption {
  font-size: size('boiler');
  font-style: italic;
  padding: size('half-shim') size('gutter');
}
