{% import "utility.macros.j2" as utility %}


{% macro section(entries) %}
  <section data-grid="posts">
    {% for entry in entries %}
      {{ list(entry) }}
    {% endfor %}
  </section>
{% endmacro %}


{% macro list(post) %}
<article class="post">
  <h3 data-heading="post">
    <a href="{{ link_to('page', slug=post.slug) }}">
      {{ post.title|typogrify }}
    </a>
  </h3>

  <aside class="post-meta">
    {{ pubdate(post.pub_date) }}
    {{ tags(post.tags) }}
  </aside>

  {% if post.summary %}
    <div class="post-summary">
      {{ post.render_summary() }}
    </div>
  {% endif %}
</article>
{% endmacro %}


{% macro pubdate(pub_date) %}
  {% if pub_date %}
    {% if pub_date %}
    <time datetime="{{ pub_date.isoformat() }}" pubdate="pubdate">
      {{ pub_date.strftime("%B %d, %Y") }}
    </time>
    {% endif %}
  {% endif %}
{% endmacro %}


{% macro tags(taglist) %}
  {% if taglist %}
    <i>in</i>
    {% for tag in taglist|sort(case_sensitive=true) %}
      {%- if not loop.first %}, {% endif -%}
      <a href="{{ link_to('tag', tag=tag) }}" rel="tag">{{ tag }}</a>
    {%- endfor %}
  {% endif %}
{% endmacro %}
