// Root
// ====


@include import-webfonts;


:root {
  @include contrasted('background');
  @include font-family('body');
  background-image: url('../images/footer-wash.jpg');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: size('background') auto;
  font-size: size('root');
  font-size: size('responsive'); // sass-lint:disable-line no-duplicate-properties
}


body {
  line-height: ratio('text-ratio');
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  padding: size('gutter');
  text-shadow: 0 1px 0 color(#fff);
}


.amp {
  @include amp;
}


a {
  &,
  &:link,
  &:visited {
    color: color('action');
    cursor: pointer;
    outline: none;
    text-decoration: underline;
    text-decoration-color: color('border');
    text-decoration-skip: ink;
    transition: color 350ms, text-decoration-color 300ms;
  }

  &:focus,
  &:hover,
  &:active {
    color: color('action-hover');
    text-decoration-color: currentColor;
  }
}


svg {
  fill: currentColor;
}


p,
ul,
ol,
dl {
  margin-bottom: size('shim');
}
