@charset "UTF-8";
html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

main {
  display: block; }

details {
  display: block; }

pre {
  overflow: auto; }

progress {
  display: inline-block; }

summary {
  display: block; }

template {
  display: none; }

*,
::before,
::after {
  border-style: solid;
  border-width: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

audio :not([controls]) {
  display: none; }

[aria-busy='true'] {
  cursor: progress; }

[aria-controls] {
  cursor: pointer; }

[aria-disabled] {
  cursor: default; }

[hidden] {
  display: none; }

button {
  overflow: visible; }

input {
  border-radius: 0;
  line-height: normal; }

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  cursor: pointer; }
  button::-moz-focus-inner,
  [type='button']::-moz-focus-inner,
  [type='reset']::-moz-focus-inner,
  [type='submit']::-moz-focus-inner {
    border: 0 none !important;
    padding: 0 !important; }

[type='checkbox'],
[type='radio'] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type='number'] {
  width: auto; }

[type='search'] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield; }

button,
input,
select,
textarea {
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit; }

textarea {
  overflow: auto;
  resize: vertical; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

audio,
canvas,
iframe,
img,
svg,
video {
  max-width: 100%;
  vertical-align: middle; }

a {
  background-color: transparent; }
  a:active, a:hover {
    outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: inherit; }

dfn {
  font-style: italic; }

nav ol,
nav ul {
  list-style: none; }

small {
  font-size: 0.75em; }

sub,
sup {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

:root {
  background-color: #efefef;
  color: #173c48;
  font-family: "freight-text-pro", "Baskerville", "Palatino", "Cambria", "Georgia", serif;
  font-size: 24px;
  font-size: calc(100% + 0.675vw); }

body {
  line-height: 1.4;
  max-width: 100vw;
  overflow-x: hidden;
  padding: 1.4rem;
  text-shadow: 0 1px 0 #fff; }

.amp {
  font-family: "Baskerville", "Palatino", "Cambria", "Georgia", serif;
  font-style: italic;
  font-weight: normal; }

a, a:link, a:visited {
  color: #ac0056;
  cursor: pointer;
  outline: none;
  text-decoration: underline;
  -webkit-text-decoration-color: #b3c9d0;
  text-decoration-color: #b3c9d0;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: ink;
  -webkit-transition: color 350ms, -webkit-text-decoration-color 300ms;
  transition: color 350ms, -webkit-text-decoration-color 300ms;
  transition: color 350ms, text-decoration-color 300ms;
  transition: color 350ms, text-decoration-color 300ms, -webkit-text-decoration-color 300ms; }

a:focus, a:hover, a:active {
  color: #266478;
  -webkit-text-decoration-color: currentColor;
  text-decoration-color: currentColor; }

svg {
  fill: currentColor; }

p,
ul,
ol,
dl {
  margin-bottom: 0.7rem; }

[data-layout='header'] a,
[data-layout='nav'] a {
  text-decoration: none; }

[data-layout='header'] {
  font-size: calc(2rem + 1.5vw);
  line-height: 1em;
  text-align: center; }
  [data-layout='header'] a:link, [data-layout='header'] a:visited {
    color: #173c48; }
  [data-layout='header'] a:focus, [data-layout='header'] a:hover, [data-layout='header'] a:active {
    color: #ac0056; }
  [data-layout='header'] .amp {
    display: inline-block;
    font-size: 1.25em;
    margin-left: -0.125em;
    vertical-align: middle; }

[data-layout='nav'] {
  padding-bottom: 1.4rem;
  text-align: center; }

[data-nav] {
  display: inline-block;
  font-size: 0.84515rem;
  font-style: italic;
  padding: 0.175rem 0.7rem; }

[data-location='writing'] [data-nav='writing'] {
  color: #173c48;
  text-decoration: underline; }

[data-location='podcast'] [data-nav='podcast'] {
  color: #173c48;
  text-decoration: underline; }

[data-location='contact'] [data-nav='contact'] {
  color: #173c48;
  text-decoration: underline; }

[data-layout='main'] {
  margin: 0 auto;
  max-width: 28rem;
  padding: 1.4rem 0; }

[data-btn], [data-btn]:link, [data-btn]:visited {
  background-color: #ac0056;
  color: #efefef;
  border-radius: 0 0.35rem;
  display: inline-block;
  font-size: 1rem;
  font-style: normal;
  margin-bottom: 0.7rem;
  padding: 0.175rem 1.4rem;
  text-decoration: none;
  text-shadow: 0 1px 0 #266478;
  -webkit-transition: background-color 300ms, -webkit-transform 350ms;
  transition: background-color 300ms, -webkit-transform 350ms;
  transition: background-color 300ms, transform 350ms;
  transition: background-color 300ms, transform 350ms, -webkit-transform 350ms; }

[data-btn]:focus, [data-btn]:hover, [data-btn]:active {
  background-color: #266478;
  -webkit-transform: scale(1.05);
  transform: scale(1.05); }

[data-field] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  margin-bottom: 0.7rem; }

[data-label] {
  font-family: "freight-sans-pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #efefef;
  border-radius: 0 0.35rem;
  color: #266478;
  font-size: 0.84515rem;
  margin: 0 auto -0.35rem 0.35rem;
  padding: 0 0.35rem;
  -webkit-transition: color 250ms ease;
  transition: color 250ms ease; }

[data-input='default'],
[data-input='textarea'] {
  border: 2px solid #266478;
  border-radius: 0 0.35rem;
  font-size: 0.84515rem;
  padding: 0.35rem;
  -webkit-transition: border-color 250ms ease;
  transition: border-color 250ms ease;
  width: 100%; }
  [data-input='default']:invalid,
  [data-input='textarea']:invalid {
    border-color: #ac0056; }
  [data-input='default']:focus,
  [data-input='textarea']:focus {
    border-color: #266478;
    outline: 0; }
    [data-input='default']:focus + [data-label],
    [data-input='textarea']:focus + [data-label] {
      color: #ac0056; }

[data-input='textarea'] {
  min-height: 8.4rem; }

[data-actions] {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

[data-heading='rst'] {
  font-size: calc(1rem + 0.75vw); }

blockquote,
.pullquote {
  font-size: calc(1rem + 0.75vw);
  font-style: italic;
  margin-bottom: 1.4rem; }
  blockquote em,
  blockquote i,
  .pullquote em,
  .pullquote i {
    font-style: normal; }
  blockquote .attribution,
  .pullquote .attribution {
    font-size: 1rem;
    font-style: normal;
    font-weight: bold; }

blockquote p:not(.attribution) {
  text-indent: -0.5em; }
  blockquote p:not(.attribution)::before, blockquote p:not(.attribution)::after {
    content: "“";
    color: #ac0056;
    font-weight: bold; }
  blockquote p:not(.attribution)::after {
    content: "”"; }

.rst-intro {
  font-size: calc(1rem + 0.75vw);
  font-style: italic;
  grid-column: 2 / span 3;
  margin: 0 calc(100vw / -2 + 1.4rem + 50%);
  padding: 1.4rem 0 calc(0.7rem + 3vmin);
  position: relative; }
  .rst-intro em,
  .rst-intro i {
    font-style: normal; }

.intro-inner {
  margin: 0 auto;
  max-width: 28em; }

.post:not(:last-child)::after {
  content: "& & &";
  font-family: "Baskerville", "Palatino", "Cambria", "Georgia", serif;
  font-style: italic;
  font-weight: normal;
  color: #b3c9d0;
  display: block;
  padding: calc(0.7rem + 3vmin) 1.4rem;
  text-align: center; }

[data-heading='post'] {
  font-size: calc(1rem + 0.5vw); }
  [data-heading='post'] a:link, [data-heading='post'] a:visited {
    text-decoration: none; }

.post-meta {
  font-size: 0.84515rem;
  margin-bottom: 0.35rem; }

[pubdate] {
  font-family: "freight-sans-pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: bold; }

/*# sourceMappingURL=screen.css.map */
