{% import "utility.macros.j2" as utility %}


{% macro embed(
  src,
  caption='caller()'
) %}
  {% set caption = caller() if (caption == 'caller()') else caption %}

  <figure class="embed full">
    {{ src|safe }}

    {% if caption %}
      <figcaption>
        {{ caption|rst }}
      </figcaption>
    {% endif %}
  </figure>
{% endmacro %}


{% macro image(
  src,
  alt='',
  size='full',
  link=none,
  caption='caller()'
) %}
  {% set caption = caller() if (caption == 'caller()') else caption %}

  <figure class="image full">
    {{ utility.link_if(
      url=link,
      content=utility.img(src, alt)
    ) }}

    {% if caption %}
      <figcaption>
        {{ caption|rst }}
      </figcaption>
    {% endif %}
  </figure>
{% endmacro %}
